name: Publish Node.js Package to GitHub Packages

on:
  push:
    branches: ["main"]

permissions:
  packages: write
  id-token: write

jobs:
  build-plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: mv package.json dist/package.json
      - uses: actions/upload-artifact@v5
        with:
          name: package-artifact
          path: dist

  publish-plugin:
    runs-on: ubuntu-latest
    needs: build-plugin
    permissions:
      contents: read
      packages: write # Grant write access to packages
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: package-artifact
          path: . # Download artifact to current directory
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          registry-url: "https://npm.pkg.github.com"
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
